@page
@model WebApplication1.Pages.MainMenuModel
@{
}

<h2>Menú principal</h2>
<ul>
    <li>
        <a asp-page ="/RegisterRequestsManagement">Gestión de solicitudes de registro</a>
    </li>
    <li>
        <a asp-page="/ActiveUsersManagement">Gestión de usuarios activos</a>
    </li>
    <li>
        <a asp-page="/OrganizationsManagement">Gestión de organizaciones</a>
    </li>
</ul>


