@page
@model OTEAInformes.Pages.BlobMenuModel
@{
}
<h1>Lista de informes</h1>

<table class="table">
    <thead>
        <tr>
            <th>Informe</th>
            <th>Descargar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var blob in Model.BlobNames)
        {
            <tr>
                <td>@blob</td>
                <td><a href="@Model.GetBlobUrl(blob)" target="_blank">Descargar</a></td>
            </tr>
        }
    </tbody>
</table>