<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto"
    android:isFeatureSplit="true"
    android:isolatedSplits="true">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TFG2223.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name="gui.DownloadImprovementPlan"
            android:exported="false" />
        <activity
            android:name="gui.SelectToSeeRealizedIndicatorsEvaluations"
            android:exported="false" />
        <activity
            android:name="gui.EditCenter"
            android:exported="false" />
        <activity
            android:name="gui.EditEvaluatedOrganization"
            android:exported="false" />
        <activity
            android:name="gui.SeeRealizedIndicatorsEvaluations"
            android:exported="false" />
        <activity
            android:name="gui.SelectToContinueIndicatorsEvaluations"
            android:exported="false" />
        <activity
            android:name="gui.EditIndicators"
            android:exported="false"
            android:label="@string/title_activity_edit_indicators"
            android:theme="@style/Theme.TFG2223.NoActionBar" />
        <activity
            android:name=".MainMenu"
            android:exported="false" />
        <activity
            android:name="gui.RegisterNewEvaluatorTeam"
            android:exported="false" />
        <activity
            android:name="gui.SelectToDoIndicatorsEvaluations"
            android:exported="false" />
        <activity
            android:name="gui.RegisterNewCenter"
            android:exported="false" />
        <activity
            android:name="gui.RegisterOrganization"
            android:exported="false" />
        <activity
            android:name="gui.Register"
            android:exported="false"
            android:label="@string/title_activity_register" />
        <activity
            android:name="gui.settings.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name="gui.DoIndicatorsEvaluation"
            android:exported="false" />
        <activity
            android:name="gui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>